.Rproj.user
.Rhistory
.RData
.Ruserdata
bookdown/seguros_generales_files/
bookdown/_bookdown_files/
bookdown/seguros_generales_cache/
seguros_generales.aux
seguros_generales.bcf
seguros_generales.log
seguros_generales.toc
seguros_generales.run.xml
seguros_generales.tex
seguros_generales.synctex.gz
bookdown/seguros_generales.pdf