.Rproj.user
.Rhistory
.RData
.Ruserdata
book/index_files/*
book/_freeze/*
book/index_cache/*
book/lectura_*_cache/*
book/site_libs/*
book/lectura_*_files/*
book/Matemáticas*.tex
*.fdb_latexmk
*.aux
*.bbl
*.bcf
*.fls
*.flg
*.log
*.toc
book/_extensions/*
book/._htmlbook*
book/._pdfbook*
book/lectura_*.html
book/list-of-mathstuff.qmd
book/*.pdf
book/.gitignore
bookdownold/