p {
text-align: justify
}

.blackbox {
  padding: 1em;
  background: black;
  color: white;
  border: 2px solid orange;
  border-radius: 10px;
}

.ideabox {
  color: white;
  padding: 1em;
  background: #0092ca;
  border-left-style: 10px solid blue;
  border-radius: 10px;
}

.thmbox {
  color: black;
  padding: 1em;
  background: #effcee;
  border-left-style: 10px solid #effcee;
  border-radius: 10px;
}
